dist-types
node_modules
packages/*/dist
packages/*/node_modules
plugins/*/dist
plugins/*/node_modules
.yarn/cache
.yarn/install-state.gz
.git

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

# ignore local app config
app-config.local.yaml
